<app-ext-app-toolbar></app-ext-app-toolbar>

<div gdArea="content" class="content">
  <div class="title">
    <h1>Sé parte de la familia de APRUMED</h1>
  </div>
  <div class="card-container">
    <mat-card>
      <div class="subtitle">
        <p>Una gran aventura te espera</p>
      </div>
      <div class="form-container">
        <div class="login-container">
          <mat-form-field>
            <mat-label>Nombre(s)</mat-label>
            <input matInput type="text" formControlName="nombre" placeholder="Ingrese su nombre"
              [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">
                Este campo es requerido
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" formControlName="apellido" placeholder="Ingrese sus apellidos"
              [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
            <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
              <div *ngIf="f.apellido.errors.required">
                Este campo es requerido
              </div>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ingrese su Email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              placeholder="Ingrese su contraseña"
              [type]="!hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ !hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="button-container">
            <button mat-button>¡Sigamos!</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
