<h2>{{ category.nombreCategoria }}</h2>

<div class="slide-wrapper">
  <section
    *ngFor="let section of sections; let i = index"
    id="{{ section.sectionID }}"
  >
    <a href="#{{ section.prevSection }}">
      <i class="fa fa-chevron-left"></i>
    </a>
    <div *ngFor="let ejemplar of section.elements" class="item">
      <app-book-card [ejemplar]="ejemplar"></app-book-card>
    </div>
    <a href="#{{ section.nextSection }}">
      <i class="fa fa-chevron-right"></i>
    </a>
  </section>
</div>
