<div class="new-book-container">
  <h2>Agregar un nuevo libro</h2>
  <div class="newbook-wrapper">
    <form [formGroup]="form" class="book-info">
      <mat-form-field style="width: 100%">
        <mat-label>Titulo</mat-label>
        <input
          matInput
          type="text"
          formControlName="titulo"
          placeholder="Ingrese el título"
          [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }"
        />
        <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback">
          <div *ngIf="f.titulo.errors.required">Este campo es requerido</div>
        </div>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Autor</mat-label>
        <input
          matInput
          type="text"
          formControlName="autor"
          placeholder="Ingrese el autor"
          [ngClass]="{ 'is-invalid': submitted && f.autor.errors }"
        />
        <div *ngIf="submitted && f.autor.errors" class="invalid-feedback">
          <div *ngIf="f.autor.errors.required">Este campo es requerido</div>
        </div>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Fecha de publicación</mat-label>
        <input
          matInput
          type="date"
          formControlName="fechaPublicacion"
          placeholder="Ingrese la fecha de publicación"
          [ngClass]="{ 'is-invalid': submitted && f.fechaPublicacion.errors }"
        />
        <div
          *ngIf="submitted && f.fechaPublicacion.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.fechaPublicacion.errors.required">
            Este campo es requerido
          </div>
        </div>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>ISBN</mat-label>
        <input
          matInput
          type="text"
          formControlName="isbn"
          placeholder="Ingrese el ISBN"
          [ngClass]="{ 'is-invalid': submitted && f.isbn.errors }"
        />
        <div *ngIf="submitted && f.isbn.errors" class="invalid-feedback">
          <div *ngIf="f.isbn.errors.required">Este campo es requerido</div>
        </div>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="text"
          formControlName="precio"
          placeholder="Ingrese el precio"
          [ngClass]="{ 'is-invalid': submitted && f.precio.errors }"
        />
        <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
          <div *ngIf="f.precio.errors.required">Este campo es requerido</div>
          <div *ngIf="f.precio.errors.pattern">
            Por favor ingrese un precio válido
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoriaID">
          <mat-option
            *ngFor="let categoria of categorias"
            [value]="categoria.categoriaID"
            >{{ categoria.nombreCategoria }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>

    <div>
      <div class="contenedor">
        <div class="contenedor_formulario">
          <h1
            style="
              font-family: 'Noto Sans', sans-serif;
              font-size: 16px;
              margin-left: 16px;
            "
          >
            Subir imagen
          </h1>
          <p class="download" *ngIf="finalizado">
            URL de descarga:
            <a href="{{ URLPublica }}" target="_blank">Descargar</a>
          </p>

          <form
            [formGroup]="archivoForm"
            (ngSubmit)="subirArchivo()"
            style="margin-left: 16px"
          >
            <div class="file has-name is-boxed">
              <label class="file-label">
                <i
                  class="fa fa-image"
                  *ngIf="!showPreview"
                  aria-hidden="true"
                ></i>
                <div class="portrait" *ngIf="showPreview">
                  <img src="{{ URLPublica }}" alt="portrait" />
                </div>
              </label>
              <input
                class="file-input"
                type="file"
                formControlName="archivo"
                (change)="cambioArchivo($event)"
              />
            </div>
            <hr />
            <div *ngIf="isProgress" class="progressContainer">
              <mat-progress-spinner
                [value]="porcentaje"
                [mode]="mode"
                [diameter]="diameter"
                [color]="color"
              ></mat-progress-spinner>
            </div>
            <a type="button" *ngIf="finalizado" (click)="setShowPreview()">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Vista previa
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button mat-button cdkFocusInitial (click)="onSubmit()">Guardar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
  </div>
</div>
